.carousel-main-card {
    min-height: 340px !important;
    min-width: 300px !important;
}

.carousel-child-card-1 {
    background-color: #146EF6 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
    height: 10px !important;
}

.isBms-carousel-child-card-1 {
    background-color: #BC2BB8 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
    height: 10px !important;
}

.carousel-child-card-2 {
    background-color: #ffffff !important;
    margin-top: 8px !important;
    border-radius: 2px !important;
    height: 350px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
}

.carousel-detail-card {
    padding: 10px 10px 10px 10px !important;
    display: block !important;
    /* flex-direction: column !important;
    justify-content: center !important; */
}

.carousel-card-job-title-text {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.carousel-card-location-con {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding-left: 25px !important;
}

.carousel-card-details-con {
    padding-left: 10px !important;
    margin-top: 14px !important;
}

.carousel-card-loc-icon {
    font-size: 20px !important;
    margin-top: 14px !important;
}

.carousel-card-loc-details-text {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.carousel-card-calender-details-con {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    /* margin-left: 16px !important; */
    padding-left: 29px !important;
}

.carousel-card-calender-icon {
    font-size: 15px !important;
    margin-top: 14px !important;
}

.carousel-card-calender-details-text {
    font-size: 12px !important;
    font-weight: 400 !important;
}

.read-more-btn {
    color: #146EF6 !important;
    margin-left: 20px !important;
    margin-right: 1px !important;
}


.read-more-btn-icon {
    color: #146EF6 !important;
    font-size: 25px !important;
}

.isBms-read-more-btn {
    color: #AD3EB2 !important;
    margin-left: 20px !important;
    margin-right: 1px !important;
}

.isBms-read-more-btn-icon {
    color: #AD3EB2 !important;
    font-size: 25px !important;
}

.seek-main-con {
    display: flex;
    flex-direction: row;
    padding-left: 13%;
    /* align-items: center; */
}

.seek-text-con {
    background-color: #EAEEED;
    border-radius: 18px 18px 18px 5px;
    padding: 10px 19px 10px 19px;
    width: max-content;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    margin-bottom: 10px;
}

.seek-para-text {
    margin: 0px !important;
    font-family: 'Segoe UI' !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #374458;
}

.seek-span-text {
    font-size: 12px;
    font-style: italic;
}

.seek-btn-con {
    display: flex;
    flex-direction: column;
}

.seek-btn-unselect {
    width: max-content;
    border-radius: 50px !important;
    text-transform: capitalize !important;
    font-family: 'Segoe UI' !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    text-align: left;
    margin-bottom: 5px !important;
}

.not-bms-seek-btn-unselect {
    color: #146EF6 !important;
    border-color: #146EF6 !important;
}

.not-bms-seek-btn-unselect:hover {
    color: #146EF6 !important;
    border-color: #146EF6 !important;
    background-color: transparent !important;
}

.isBms-seek-btn-unselect {
    color: #BC2BB8 !important;
    border-color: #BC2BB8 !important;
}

.isBms-seek-btn-unselect:hover {
    color: #BC2BB8 !important;
    border-color: #BC2BB8 !important;
    background-color: transparent !important;
}

.seek-btn-select {
    width: max-content;
    border-radius: 50px !important;
    text-transform: capitalize !important;
    font-family: 'Segoe UI' !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    text-align: left;
    margin-bottom: 5px !important;
    color: #ffffff !important;
}

.not-bms-seek-btn-select {
    background-color: #146EF6 !important;
}

.not-bms-seek-btn-select:hover {
    color: #ffffff !important;
    background-color: #146EF6 !important;
}

.isBms-seek-btn-select {
    background-color: #BC2BB8 !important;
}

.isBms-seek-btn-select:hover {
    color: #ffffff !important;
    background-color: #BC2BB8 !important;
}


.seek-submit-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.seek-btns {
    height: 35px;
    width: 130px;
    border-radius: 5px !important;
    font-family: 'Segoe UI' !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-transform: capitalize !important;
}

.seek-back-btn {
    border-color: #CACACC !important;
    color: #374458 !important;
    background-color: transparent !important;
}

.seek-back-btn:hover {
    border-color: #CACACC !important;
    color: #374458 !important;
    background-color: transparent !important;
}

.seek-submit-btn {
    background-color: #146EF6 !important;
    color: #ffffff !important;
    /* opacity: 0px !important; */
}

.seek-submit-btn:hover {
    background-color: #146EF6 !important;
    color: #ffffff !important;
}

.isBms-seek-submit-btn {
    background-color: #BC2BB8 !important;
    color: #ffffff !important;
    /* opacity: 0px !important; */
}

.isBms-seek-submit-btn:hover {
    background-color: #BC2BB8 !important;
    color: #ffffff !important;
}

.submtd-emply-main-con {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submtd-emply-con {
    /* background-color: #146EF6;
    border-radius: 18px 18px 5px 18px;
    padding: 8px 21px 8px 21px;
    width: max-content;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.12); */
    padding: 0px 5px 0px 5px;
    width: max-content;
}

.seek-emply-para-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.seek-check-icon {
    font-size: 13px !important;
    color: #ffffff;
    margin-right: 5px;
}

.seek-emply-text {
    margin: 0px !important;
    font-family: 'Segoe UI' !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #ffffff;
}

.single-para-con {
    /* background-color: #146EF6; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: max-content;
    /* border-radius: 20px 0px 20px 0px; */
}