.App {
  text-align: center;
  background-color: #F1F7FF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-box {
  position: relative;
}



.img-box::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  animation: blinkOut 3s ease-in-out;
  animation-iteration-count: 3;
  /* background-color: #777; */
}

@keyframes blinkOut {
  0% {
    transform: scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  }

  50% {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  }

  80% {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  }

  100% {
    transform: scale(0);
    box-shadow: none;

  }
}

.menu-box .MuiPaper-root {
  top: 421px !important;
  left: 509px !important;
  width: 38% !important;
}

.multi-location .MuiAutocomplete-inputRoot {
  flex-direction: column !important;
  align-items: flex-start !important;
  width: 100%;
}