.App {
  text-align: center;
  background-color: #F1F7FF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-box {
  position: relative;
}



.img-box::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  animation: blinkOut 3s ease-in-out;
  animation-iteration-count: 3;
  /* background-color: #777; */
}

@keyframes blinkOut {
  0% {
    transform: scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  }

  50% {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  }

  80% {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  }

  100% {
    transform: scale(0);
    box-shadow: none;

  }
}

.menu-box .MuiPaper-root {
  top: 421px !important;
  left: 509px !important;
  width: 38% !important;
}

.multi-location .MuiAutocomplete-inputRoot {
  flex-direction: column !important;
  align-items: flex-start !important;
  width: 100%;
}

.multi-location .MuiFormControl-fullWidth {
  max-height: 80px !important;
}

.multi-location .MuiAutocomplete-tag {
  width: 90%;
  justify-content: flex-start !important;
}

.multi-location .MuiInputBase-input.MuiOutlinedInput-input {
  width: fit-content !important;
}

.auto-shadow {
  /* box-shadow: 10px 0 0 0 rgba(0, 0, 0, .6) */
}

@media only screen and (max-width: 600px) {


  .chat-width {
    right: 0px !important;
    width: 100% !important;
    transform: translate(0) !important;
    height: 100%;
  }

  #content-container {
    max-height: calc(100vh - 120px) !important;
    min-height: calc(100vh - 120px) !important;
  }

  .main_cls {
    margin-right: 5px !important;
    /* height: 100% !important; */
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100dvh !important;

  }

  .main_cls .chat-width {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    height: 100% !important;
  }

  #content-container {
    max-height: calc(100dvh - 120px) !important;
    min-height: calc(100dvh - 120px) !important;
  }

  .bottom-cls {
    margin-bottom: 5px !important;
  }


}

@media only screen and (max-width: 900px) and (min-width: 601px) {

  #content-container {
    max-height: calc(100vh - 120px) !important;
    min-height: calc(100vh - 120px) !important;
  }

  .chat-width {

    transform: translateY(-1%) !important;

  }
}

.rating {
  display: flex !important;
  position: relative;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  width: 100%;
}

.rating .rating-star input {
  display: none;
}

.rating .rating-star label {
  cursor: pointer;
}

.icon-emoji:hover {
  font-size: 28px;
}